.dropdown-sector {
    display: block;
    padding: 0.25rem 1.5rem;
    color: #212529;
    transition: transform 0.2s;
}


    .dropdown-sector:hover {
        color: #212529;
        text-decoration: none;
        transform: translateX(4px);
    }

.navbar-icons {
    color: white;
    font-size: 40px !important;
    padding-right: 7px;
}

.navbar-title {
    color: white;
    font-size: 40px;
    white-space: normal;
    word-break: break-all;
    font-family: TitleFont;
}

    .navbar-title:hover {
        text-decoration: none;
        color: white;
    }

    /* ------------------------------- */

    .animate {
        animation-duration: 0.3s;
        animation-fill-mode: both;
    }

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {

    100% {
        -webkit-transform: translateY(0);
    }

    0% {
        -webkit-transform: translateY(1rem);
    }
}

.slideIn {
    animation-name: slideIn;
}

