@{
    ViewData["Title"] = "Connections";
}
@namespace ChronoShift

<!DOCTYPE html>
<link rel="stylesheet" href="~/css/ConnectionsInput.css">
<html>
<head>

</head>
<body>
    <div class="register">
        <div class="field">
            <input id="register" maxlength="21" type="email" /><label for="register"><span>Email Address</span></label><button>OK</button>
        </div>
    </div>
    <script src="~/js/ConnectionsInput.js"></script>
</body>
</html>


